form(method="POST", action="/g/creategroup")
    .form-group
        label(for="groupname") Group Name
        input.form-control(type=text, name="groupname", id="groupname", required="required")

    .form-group
        label(for="members") Members
        ul(id="members")
            li
                input.form-control(type=text, name="member1", id="membersf", required="required")
            li
                input.form-control(type=text, name="member2", required="required")

    .form-group
        label(for="description") Description
        textarea.form-control(name="description", placeholder="(Optional)", id="description")
    .form-group
    button.btn.btn-secondary(type=submit) Create