nav.navbar.navbar-light.bg-faded
    a.navbar-brand(href='/')
        img.d-inline-block.align-top(src='/images/pikk-avatar.png', width='30', height='30', alt='')
        | Pikk
    ul.nav.navbar-nav
        li.nav-item.active
            a.nav-link(href='/auth/google')
                | Login
                span.sr-only (current)
        li.nav-item
            a.nav-link(href='#') About
        li.nav-item.dropdown
            a#supportedContentDropdown.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Actions
            .dropdown-menu(aria-labelledby='supportedContentDropdown')
                a.dropdown-item(href='/u') My profile
                a.dropdown-item(href='/g') My groups
                form(method="POST", action="/u/signout")
                    button.dropdown-item(role="submit") Log out
                a.dropdown-item(href='#') My settings
    button#get-location() Get Location
    form.form-inline.float-xs-right(method='get', action='/search')
        input.form-control(name='query', value='macland', type='text')
        button.btn.btn-secondary(type='submit' id="search-button") Leita