#node and bower modules
node_modules/
bower_components/

.env

#Other random directories
.idea/
.tmp/

#We dont need .css to be transfered
/public/stylesheets/*.css

lib-cov
*.seed
*.pid
npm-debug.log
.DS_STORE