extends layout

block content
    if(results.length === 0)
        div.no_search_results
            h2 Engar niðurstöður
            br
            i.fa.fa-frown-o.fa-3x
    .card-columns
        each res in results
            .card.animate-bottom
                if res.coordinates
                    if(res.brand_banner_path)
                        img(src=res.brand_banner_path).card-im-top.img-fluid
                    else if(res.coordinates.ja360_image_url)
                        img(src= res.coordinates.ja360_image_url).card-img-top.img-fluid
                        if(res.logo_url)
                            img(src="http://media.ja.is/" + res.logo_url).img-logo
                .card-block
                    h4.card-title= res.name
                    p.card-text= res.address_nominative
                ul.list-group.list-group-flush
                    li.list-group-item.choose_item
                        .row
                            .col-md-12
                                a(href='../place/' + res.phonebook_id_number).btn.btn-secondary Velja
                                if res.hours
                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content=res.hours)
                                        if res.is_open
                                            i.open-icon.fa.fa-circle.text-success
                                            | Opið
                                        else
                                            i.open-icon.fa.fa-circle.text-danger
                                            | Lokað

                                else
                                    button.btn.btn-secondary.pull-right(data-toggle="popover", data-trigger="focus",data-content='No info')
                                        if res.is_open
                                            i.open-icon.fa.fa-circle.text-success
                                            | Opið
                                        else
                                            i.open-icon.fa.fa-circle.text-danger
                                            | Lokað
