extends layout
block content
    h1=message
    h2=error.status
    pre=error.stack
    img(src="https://yt3.ggpht.com/-k-TuTtfPpfg/AAAAAAAAAAI/AAAAAAAAAAA/AR4yj6L2f9s/s100-c-k-no-mo-rj-c0xffffff/photo.jpg", alt="Jon", style="width:50%;")
    img(src="https://yt3.ggpht.com/-k-TuTtfPpfg/AAAAAAAAAAI/AAAAAAAAAAA/AR4yj6L2f9s/s100-c-k-no-mo-rj-c0xffffff/photo.jpg", alt="Jon", style="width:50%;")