extends layout

block content
    .row
        .col-lg-12
            .card
                .card-block
                    .row
                        .col-lg-8
                            h4 Why don't you create a new event?
                        .col-lg-4
                            a(href='e/createevent').btn.btn-primary.btn-block.pikk-button Create new event
    .row
        .col-lg-12
            if events.length!==0
                if events.length < 2
                    each event in events
                        .card
                            .card-block
                                .card-title
                                    h5=event.title
                                .card-text
                                    p.text-muted=event.description
                                a(href="/e/"+event.id).btn.btn-primary.pikk-button View Event
                else
                    .card-columns
                        each event in events
                            .card
                                .card-block
                                    .card-title
                                        h5=event.title
                                    .card-text
                                        p.text-muted=event.description
                                    a(href="/e/" + event.id).btn.btn-primary.pikk-button View Event
            else
                .card
                    .card-block
                        h4.card-title No events to display
