extends layout

block leftside
    include includes/groupform.pug

block content
    if user
        h1= 'Welcome to your groups, '+user.first_name
    else
        h1 Who the hell are you?
        h2 Authenticate, motherfucker!
    if groups.count > 0
        .card-columns
            each group in groups.rows
                    .card
                        .card-block
                            p.card-text= group.name
                            p.text-muted= group.description
    else
        h2 No groups to display