extends layout

block content
    div.main-banner
        h2 Welcome to Pikk!
        if(!user)
            h5 You're not signed in.
        else
            h5="You're signed in as "+user.username
        if(user)
            a.btn.btn-primary.btn-pikk(href='/start') PIKK
    .slider.slick-list
        .card.slick-slide
            .card-block.pikk-special
                h4.card-title Pikk of the day
                p.card-text
                    | Here you can view what place has been the most popular today.
                a.btn.btn-primary(href='#') Take me there
        .card
            .card-block.pikk-special
                h4.card-title Pikk of the week
                p.card-text
                    | Here you can view what place has been the most popular this week.
                a.btn.btn-primary(href='#') Take me there
        .card
            .card-block.pikk-special
                h4.card-title Pikk of the month
                p.card-text
                    | Here you can view what place has been the most popular this month.
                a.btn.btn-primary(href='#') Take me there
        .card
            .card-block.pikk-special
                h4.card-title Editor's choice
                p.card-text
                    | Here you can view what we think is worthy of the front page. The best of the best.
                a.btn.btn-primary(href='#') Take me there
block scripts
