extends layout

block content
    div.main-banner
        p Velkomin รก Pikk!
        a.btn.btn-primary.btn-main-pikk(href='#') PIKK
    .slider.slick-list
        .card.slick-slide
            .card-block
                h4.card-title Card title
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-primary(href='#') Go somewhere
        .card
            .card-block
                h4.card-title Card title
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-primary(href='#') Go somewhere
        .card
            .card-block
                h4.card-title Card title
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-primary(href='#') Go somewhere
        .card
            .card-block
                h4.card-title Card title
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-primary(href='#') Go somewhere
block scripts
