extends layout

block indexcontent

    .card
        .card-block
            .row
                each res, index in results.first
                    include includes/place-card.pug
block scripts
    script(src="/javascript/popover.js")
