extends layout

block content
    div.index-container
        div.row
            button#pikk-button.btn.btn-primary.btn-lg Pikk
            form#pikkmate-form.form-inline.pull-xs-right(method='post', action='search/')
                input.form-control#query(name='query', value='macland', type='text', placeholder='Leita')
                button.btn(type='submit') Search

