
doctype html

html(lang="en")
    head
        title= title || 'Pikk'
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat" rel="stylesheet")
        link(rel='icon', type='image/png', href='/images/pikk-favi.png')
        link(rel='stylesheet', type='text/css', href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

        //link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
        link(rel='stylesheet', type='text/css', href='/slick/slick.css')

        link(rel='stylesheet', type='text/css', href='/slick/slick-theme.css')

        //link(rel='styleasheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi", crossorigin="anonymous")
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(href="/stylesheets/style.css", rel='stylesheet')

        block links

body
    .wrapper
        include includes/navbar.pug
        .container-fluid.main-wrapper
            .row.layout-row
                .col-lg-8.offset-lg-2
                    block content
            .row.layout-row
                .col-lg-12
                    block indexcontent
        .push
    footer.footer
        .container-fluid
            .row
                .col-md-4.col-xs-6.offset-md-2.footer-col
                    h7.ja_2016 Já 2016 &copy;
                .col-xs-6.col-md-4.footer-col
                    .pull-right
                        a(href="#").social-link
                            i.fa.fa-facebook.fa-lg.social-icon(href="#")
                        a(href="#").social-link
                            i.fa.fa-twitter.fa-lg.social-icon
                        a(href="#").social-link
                            i.fa.fa-instagram.fa-lg.social-icon
    //script(src="/tether/dist/js/tether.min.js")
    //script(src="/jquery/dist/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js", integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js", integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js", integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK", crossorigin="anonymous")
    //script(src="/bootstrap/dist/js/bootstrap.min.js")
    //script(type='text/javascript', src='slick/slick.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
    script(src='/javascript/slide.js')
    script(src='/javascript/script.js')
    block scripts