
doctype html

html(lang="en")
    head
        title= title || 'Pikk'
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat" rel="stylesheet")
        link(rel='icon', type='image/png', href='/images/pikk-icon.gif')
        link(rel='stylesheet', type='text/css', href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(href="/stylesheets/style.css", rel='stylesheet')
        block links

body
    .wrapper
        include includes/navbar.pug
        if !isIndex
            .push-down(style='margin-bottom: 90px')
        if isIndex
            .container-fluid.cover-screen(style='margin-top:58px')
                .row(style='padding:100px 0px 100px 0px')
                    .col-lg-5.offset-lg-1
                        img(src='/images/banner.png' style='width:100%;')
                    .col-lg-3.offset-lg-2
                        a.btn.btn-outline-primary.btn-block.banner-button(href='/search?query=burger') Up for some burgers?
                        a.btn.btn-outline-primary.btn-block.banner-button(href='/search?query=pizza') You can't say no to a pizza
                        a.btn.btn-outline-primary.btn-block.banner-button(href='/search?query=sushi') What about some sushi?
        .container-fluid.main-wrapper
            .row.layout-row
                .col-lg-10.offset-lg-1
                    block content
            .row.layout-row
                .col-lg-12
                    block indexcontent
        .push
    footer.footer
        .container-fluid
            .row
                .col-md-4.col-xs-6.offset-md-2.footer-col
                    h7.ja_2016 Já 2016 &copy;
                .col-xs-6.col-md-4.footer-col
                    .pull-right
                        a(href="#").social-link
                            i.fa.fa-facebook.fa-lg.social-icon(href="#")
                        a(href="#").social-link
                            i.fa.fa-twitter.fa-lg.social-icon
                        a(href="#").social-link
                            i.fa.fa-instagram.fa-lg.social-icon

    script(src='/js/jquery.min.js')
    script(src='/js/tether.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/javascript/script.js')
    block scripts