//
   Created by atli on 21.10.2016.
doctype html

mixin questionCard(title,icon,groupid,mainVals)
    .card
        .card-header
            p=title
            i.card-title.fa(class!=icon)
        .card-block
            p.card-text
                | Her kemur texti um hvad thetta fjallar um og ad fjalla um skiptir miklu mali, spurdu bara
                | kallinn sem er alltaf i straeto thvi hann veit svo margt um alls konar hluti, serstaklega
                | thad sem honum finnst asnaleg.
            .btn-group.btn-group-lg.text-center.pagination-centered(role='group', aria-label='First group')(id!=groupid)
                each val in mainVals
                    button.btn.btn-secondary(type='button' value=val)=val
                .btn-group.btn-group-lg(role='group')
                    a.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Annað
                    .dropdown-menu#sub-rating-star(aria-labelledby='')
                        button.dropdown-item(value=1) Mér er sama
                        button.dropdown-item(value=2) Þetta skiptir mig máli

html(lang="en")
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat" rel="stylesheet")
        link(rel='icon', type='image/png', href='/images/pikk-avatar.png')
        link(rel='stylesheet', type='text/css', href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/slick/slick.css')
        link(rel='stylesheet', type='text/css', href='/slick/slick-theme.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(href="/stylesheets/style.css", rel='stylesheet')

        block links
    body
        nav.navbar.navbar-light.bg-faded
            a.navbar-brand(href='/')
                img.d-inline-block.align-top(src='/images/pikk-avatar.png', width='30', height='30', alt='')
                | Pikk
            ul.nav.navbar-nav
                li.nav-item.active
                    a.nav-link(href='#')
                        | Link
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item.dropdown
                    a#supportedContentDropdown.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
                    .dropdown-menu(aria-labelledby='supportedContentDropdown')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(href='#') Something else here
            form.form-inline.float-xs-right(method='get', action='search/')
                input.form-control(name='query', value='macland', type='text')
                button.btn.btn-secondary(type='submit' id="search-button") Leita
        .container-fluid.main-wrapper
            .row
                .col-lg-2
                .col-lg-8
                    block content
                .col-lg-2
        script(src="/tether/dist/js/tether.min.js")
        script(src="/jquery/dist/jquery.min.js")
        script(src="/bootstrap/dist/js/bootstrap.min.js")
        script(type='text/javascript', src='slick/slick.min.js')
        script(src='/javascript/slide.js')
        block scripts