extends layout

block content
    img(src=place.brand_banner_path, style="width:100%")
    div.place-banner(style="border: 5px solid" + place.brand_background_color)
        h1= place.first_name
        if(place.slogan)
            h2=place.slogan

