extends layout

block content
    .row
        .col-lg-12
            .card
                .card-block
                    .row
                        .col-md-6
                            .row
                                .card
                                    if(place.brand_banner_path)
                                        img(src=place.brand_banner_path).card-im-top.img-fluid
                                    .card-block.place-banner
                                        h1= place.name
                                        if (place.slogan)
                                            p= place.slogan
                            .row
                                .card
                                    .card-block
                                        if place.is_open
                                            h2 Something to indicate its open
                                        else
                                            h2 It's closed!
                        .col-md-6
                            .card
                                .card-header Information
                                    i.fa.fa-info.pikk-card-icon
                                ul.list-group.list-group-flush
                                    li.list-group-item KS
                                        i.fa.fa-filter.pikk-card-icon
                                    li.list-group-item KS
                                        i.fa.fa-filter.pikk-card-icon
                                    li.list-group-item KS
                                        i.fa.fa-filter.pikk-card-icon
                                    li.list-group-item KS
                                        i.fa.fa-filter.pikk-card-icon
                                    li.list-group-item KS
                                        i.fa.fa-filter.pikk-card-icon
