extends layout

block content
    .card-columns
        each res in results
            .card
                if res.coordinates
                    img(src= res.coordinates.ja360_image_url).card-img-top.img-fluid
                .card-block
                    h4.card-title= res.name
                    p.card-text= res.address_nominative
                ul.list-group.list-group-flush
                    if res.is_open == false
                        li.list-group-item.is_closed Lokað
                    else
                        li.list-group-item.is_open Opið
                    li.list-group-item.choose_item
                        a(href="../place/" + res.first_name).choose_button Velja



