extends layout

block content
    if(results)
        if(results.length===0)
            div.no_search_results
                h2 No results
                br
                i.fa.fa-frown-o.fa-3x
        .row
            if results.length < 2
                 .col-lg-8.offset-lg-2
                     each res in results
                         include includes/place-card.pug
            else
                .col-lg-12
                    .row
                        each res in results
                            include includes/place-card.pug
    else
        div.no_search_results
            h2 No results
            br
            i.fa.fa-frown-o.fa-3x
block scripts
    script(src="/javascript/popover.js")