extends layout

block content
    .card-columns
        each res in results
            .card
                if res.coordinates
                    img(src= res.coordinates.ja360_image_url).card-img-top.img-fluid
                .card-block
                    h4.card-title= res.name
                    p.card-text= res.address_nominative
                    a(href="../place/"+res.first_name).btn.btn-secondary Velja

