extends layout

block content
        .row
            .col-lg-3
            .col-lg-6
                div.pikk-form
                    .card
                        .card-header
                            | Main Questions
                            i.card-title.fa-fa-star.pikk-card-icon
                        .card-block
                            h3.card-title Poo
                            p.card-text
                                | Hvað er að fara að gerast hér?
                            form(method='get', action='/choose')
                                input(type='text', placeholder="Hamborgari", name="first", id="first").pikk-input
                                br
                                input(type='text', placeholder="Pizza", name="second", id="second").pikk-input
                                br
                                input(type='text', placeholder="Fiskur", name="third", id="third").pikk-input
                                button.btn.btn-primary(type='submit' id="start-pikk-button") PIKK
            .col-lg-3
            .col-lg-3
block scripts
    script(src="javascript/selection.js")