extends layout

block content
        .row
            .col-lg-2
            .col-lg-8
                .card
                    .card-header
                        | Veldu mest þrjá flokka hér að neðan
                        i.fa.fa-filter.pikk-card-icon
                    .card-block
                        p.card-text
                            | Við veljum staði fyrir þig sem eiga við þessa flokka.
                            | Sumir staðirnir geta uppfyllt öll skilyrðin en aðrir bara sum
                        button.btn.btn-outline-primary.btn-space(value=0) Kjúklingur
                        button.btn.btn-outline-primary.btn-space(value=1) Steik
                        button.btn.btn-outline-primary.btn-space(value=2) Sjávarréttir
                        button.btn.btn-outline-primary.btn-space(value=3) Pítsa
                        button.btn.btn-outline-primary.btn-space(value=4) Hamborgari
                        button.btn.btn-outline-primary.btn-space(value=5) Sushi
                        button.btn.btn-outline-primary.btn-space(value=6) Salat
                        button.btn.btn-outline-primary.btn-space(value=7) Kebab
                        button.btn.btn-outline-primary.btn-space(value=8) Tælenskt
                        button.btn.btn-outline-primary.btn-space(value=9) Asískt
                        button.btn.btn-outline-primary.btn-space(value=10) Inverskt
                        button.btn.btn-outline-primary.btn-space(value=11) Mexíkóskt
                        button.btn.btn-outline-primary.btn-space(value=12) Ítalskt
                        button.btn.btn-outline-primary.btn-space(value=13) Íslenskt
                        button.btn.btn-outline-primary.btn-space(value=14) Hádegismatur
                        button.btn.btn-outline-primary.btn-space(value=15) Vegan
                        button.btn.btn-outline-primary.btn-space(value=16) Hollt
                        button.btn.btn-outline-primary.btn-space(value=17) Bakarí
                        button.btn.btn-outline-primary.btn-space(value=18) Bístró
                        button.btn.btn-outline-primary.btn-space(value=19) Kaffi
                        button.btn.btn-outline-primary.btn-space(value=20) Áfengi



                form#start-pikk-form(method="post", action="/choose")
                    button.btn.btn-primary(type='submit' id="start-pikk-button") Pikk
                    button.btn.btn-seconaary(id='location-button') Háð staðsetningu
            .col-lg-2
block scripts
    script(src="javascript/selection.js")