
/*font-family: 'Montserrat', sans-serif;
font-family: 'Julius Sans One', sans-serif;*/
html{
  box-sizing: border-box;
  height:100%;
}

body{
  box-sizing: border-box;
  height:100%;
}

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  box-sizing: border-box;
  height:100%;
}

.pikk-wrapper{
  box-sizing: border-box;
  height: 30%;
}

.content-wrapper{
  //box-sizing: border-box;
  height:60%;
  //background:gold;
}
.map-wrapper {
  box-sizing: border-box;
  height:100%;
}
.friend-list {
  box-sizing: border-box;
  border: 1px solid #1f1f1f;
  height: 100%;
  overflow-y: auto;
}

.pikk-title{
  border-bottom: 1px solid black;
}

.pikk-banner {
  //max-width: 100%;
  height: 100%;
}

.img-banner {
  height:100%;
  float: right;
}

.user-icon {
  height: 64px;
  width: 64px;
}

#map {
  height:100%;
}