/*font-family: 'Montserrat', sans-serif;
font-family: 'Julius Sans One', sans-serif;*/

body{
  background-color: rgba(255, 245, 246, 0);
}

*{
  font-family: 'Montserrat', sans-serif;
}

.index-container{
  margin-top:100px;

}
main {
  height:100%;
}

.main-wrapper {
  height: 100%;
  box-sizing: border-box;
}

#search-button{
  margin-left:5px;
}

