/*font-family: 'Montserrat', sans-serif;
font-family: 'Julius Sans One', sans-serif;*/

body{
  background-color: rgba(255, 245, 246, 0);
}

*{
  font-family: 'Montserrat', sans-serif;
}

.index-container{
  margin-top:100px;

}



// PRUFA FYRIR CARD
.card{
  margin: 5%;
}

.btn-index:hover, .btn-signup:hover{
  color: white !important;
  background-color: #f44336 !important;
}

main {
  height:100%;
}

.main-wrapper {
  height: 100%;
  box-sizing: border-box;
}

#search-button{
  margin-left:5px;
}

//Staður opinn eða staður lokaður
.is_closed, .is_open{
  text-align: left;
}

.is_closed{
  background-color: tomato;

}

.is_open {
  background-color: mediumseagreen;
}

