/*font-family: 'Montserrat', sans-serif;
font-family: 'Julius Sans One', sans-serif;*/

html,body{
  background-color: rgba(255, 245, 246, 0);
  height: 100%;
}

*{
  font-family: 'Montserrat', sans-serif;
}

.index-container{
  margin-top:100px;

}

main {
  height:100%;
}

.main-wrapper {
  height: 100%;
  box-sizing: border-box;
}

#search-button{
  margin-left:5px;
}

//Staður opinn eða staður lokaður
.open-icon{
  margin-right: 5px;
}

.is-closed{
  color: tomato;

}

.is-open {
  color: mediumseagreen;
}

#map {
  height:100%;
}
.full-map {
  height:100vh;
}

.map-wrapper {
  box-sizing: border-box;
  height:300px;
}

.pikk-title{
  border-bottom: 1px solid black;
}

.img-banner {
  width:100%;
  float: right;
}

/*Making the arrows visable */

.slick-prev:before, .slick-next:before {
  color: #f44336 !important;
}

.img-logo{
    border: 0;
    position: absolute;
    top: 2%;
    right: 2%;
}

/*Styling the main banner on the front page*/
.main-banner{
  text-align: center;
  padding: 5%;
  background-color: #f44336;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}

.logout-btn{
  background-color: #f44336;
  color: white !important;
  border: none;
  transition: color 0.2s ease;
  transition: background-color 0.2s ease;
}

.logout-btn:hover{
  background-color: white;
  color: #f44336 !important;
  border: none;
}

.main-banner h2{
  margin: 20px;
}

.btn-pikk{
  margin-top: 2%;
  padding: 2%;
  width: 20%;
  background: white;
  border: none;
  color: #f44336;
  transition: background 0.3s ease;
  transition: color 0.3s ease;
}

.btn-pikk:active{
  background-color: transparent !important;
}

/* Styling the search results */

.results{
  margin-top: 2%;
}

.no_search_results{
  text-align: center;
  margin: 10%;
}


.btn-pikk:hover{
  background: #bd332c;
}
button.dropdown-item:hover {
  cursor: pointer;
}

.social-icon{
  margin-left: 20px;
  transition: color 0.1s ease;
}

/* the slides */
.slick-slide {
  margin: 0 27px;
}
/* the parent */
.slick-list {
  margin: 0 -27px;
}

.slider{
  margin: 5%;
}

.slick-dots{
  position: static !important;
}

/* Signup Styles */
.signup{
  margin-top: 5%;
}

/*Styling /place */
.place-banner{
  text-align: center;
  padding: 2%;
}


.place-info{
  border: 2px solid black;
  padding: 2%;
  text-align: center;
}
.info-icon{
  width: 90%;
  border-top: 5px solid #f44336;
  padding: 2%;
}

.info-item{
  padding: 1%;
}

/*Styling the start page*/

.pikk-form{
  margin-bottom: 5%;
  margin-top: 5%;
}
.pikk-card-icon{
  float: right;
  margin-left: 10px;
}

.choice-button{
  margin: 5px;
  background-color: white;
}

.choice-button.active{
  background-color: #f44336 !important;
  color: white !important;
}

.choice-button.focus{
  outline: none !important;
}


.choice-button:hover{
  background-color: white;
}

.check{
  margin-bottom: 15px;
}

/*Styling the user page*/
.user-card{
  margin-top: 15px;
  width: 80%;
}

.friend-list{
  margin-top: 15px;
}

.signed-in{
  color: #f44336 !important;
}

.user-social-icon{
  margin-right: 50px;
}

.user-social-link:hover{
  color: #f44336;
}

.user-social-link{
  color: black;
  transition: color 0.2s ease;
}


.friend-link{
  transition: color 0.2s ease;
}

.friend-link:hover{
  color: #f44336;
  text-decoration: none;
}

/*Styling the navigation bar*/

.nav-item{
  margin-right: 10px;
}

/*Making the arrows disappear*/
.nav-link.dropdown-toggle::after{
  display: none;
}

.nav-icon{
  transition: color 0.2s ease;
}

.nav-icon:hover{
  color: #f44336
}

.btn-space{
  margin-right:5px;
  margin-top:5px;
}

.layout-row{
  margin-top:20px;
}

.profile-icon{
  border-radius: 3px;
}

.icon-wrapper{
  border-radius: 3px;
  width: 28px;
  height: 28px;
  text-align:center;
}

.fa-wrapper{
  background-color: white;
  border: 1px solid rgba(0,0,0,.15);
}

.pikk-icon{
  color: #373a3c;
  position: relative;
  top: calc(50% - 44px);
}

.footer{
  height: 60px;
  background-color: #f5f5f5;
}

.footer-col{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.push{
  height:60px;
}

.inner-addon {
  position: relative;
}

.inner-addon .input-icon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.right-addon .input-icon { right: 0px;}

.right-addon .icon-input { padding-right: 30px; }

.icon-input{
  width: 100% !important;
}

.main-icon{
  margin-right:20px;
}

.sub-icon{
  margin-left:5px !important;
}

.sub-icon>.dropdown-toggle{
  padding-top: .31rem !important;
}

/*Styling the group page*/

.group-banner{
  text-align: center;
  margin: 20px;
}

.form-group{
}

ul{
  list-style-type: none;
}

.group-members-input{
  padding: 0;
}

.group-members-input li{
  margin-bottom: 15px;
}


.group-list{
  margin-top: 15px;
}
